<h4 class="mb-3">Formulario de contacto</h4>
<form>
  <div class="mb-3">
    <label for="email" class="form-label">Correo electrónico</label>
    <input type="email" class="form-control" id="email" placeholder="ejemplo@mail.com">
    <div class="form-text">Nunca compartiremos tu correo.</div>
  </div>
  <div class="mb-3">
    <label for="password" class="form-label">Contraseña</label>
    <input type="password" class="form-control" id="password">
  </div>
  <div class="form-check mb-3">
    <input class="form-check-input" type="checkbox" id="recordarme">
    <label class="form-check-label" for="recordarme">Recordarme</label>
  </div>
  <button type="submit" class="btn btn-primary">Enviar</button>
</form>
