<h4 class="mb-3">Tabla de ejemplo</h4>
<table class="table table-striped">
  <thead>
    <tr>
      <th>#</th>
      <th>Nombre</th>
      <th>Apellido</th>
      <th>Usuario</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1</th>
      <td>Juan</td>
      <td>Pérez</td>
      <td>jperez</td>
    </tr>
    <tr>
      <th>2</th>
      <td>María</td>
      <td>López</td>
      <td>mlopez</td>
    </tr>
    <tr>
      <th>3</th>
      <td>Carlos</td>
      <td>García</td>
      <td>cgarcia</td>
    </tr>
  </tbody>
</table>
